/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    max-width: 1170px;
    margin: 0 auto;
}
.featured-icon {
    width: 100px;
    margin: auto;
}
.header-icon {
    display: flex!important;
}